*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
    }
    
.card1,.card2,.card3{
    background-color: rgb(221, 220, 220);
    width: 350px;
    height: 250px;
    margin: 10px;
  text-align: center;
}
img{
   width: 20px;
   padding-right: 5px;
   border-radius: 3px;
}
li{
    list-style-type: none;
    padding-top: 15px;
}input[type="button"]{
   width: 60px;
   height: 30px;
   background-color: rgb(255, 107, 1);
   border-radius: 6px;
   margin-top: 15px;
   color: white;
   border: none;
}
@media only screen and (max-width: 900px) {
    .row{
       display: block;
        align-items: center;
        justify-content: center;
        margin: 100px;
        }
    
  }


   
